@model ProdutosModel

@{
    ViewData["title"] = "Cadastrar Produto";
}
<div class="container p-5">

    <div class="mb-5 text-center">
        <h1>Cadastro de Produto</h1>
    </div>


    <form method="post" asp-controller="Produtos" asp-action="CadastrarProduto">

        <div class="mb-3">
            <label for="NomeProduto" class="form-label">Nome</label>
            <input type="text" class="form-control" asp-for="NomeProduto" id="NomeProduto">
            <span class="text-danger" asp-validation-for="NomeProduto"></span>
        </div>

        <div class="mb-3">
            <label for="EANProduto" class="form-label">EAN</label>
            <input type="text" class="form-control" asp-for="EANProduto" id="EANProduto">
            <span class="text-danger" asp-validation-for="EANProduto"></span>
        </div>

        <div class="mb-3">
            <label for="ValorUnitarioProduto" class="form-label">Valor Unitário</label>
            <input type="text" class="form-control" asp-for="ValorUnitarioProduto" id="ValorUnitarioProduto">
            <span class="text-danger" asp-validation-for="ValorUnitarioProduto"></span>
        </div>
        
        <div class="mb-3">
            <label for="QuantEstoqueProduto" class="form-label">Quant Estoque</label>
            <input type="text" class="form-control" asp-for="QuantEstoqueProduto" id="QuantEstoqueProduto">
            <span class="text-danger" asp-validation-for="QuantEstoqueProduto"></span>
        </div>

        <div class="d-flex justify-content-end">
            <div>
                <button type="submit" class="btn btn-dark">Cadastrar</button>
                <a class="btn btn-light nav-item" href="/Produtos">Voltar</a>
            </div>
        </div>

    </form>


</div>