@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mt-5 mb-5">
    <h1 class="display-4 my-5">Sistema de Solicitações!</h1>
    <h3 class="display-6 my-5">Seja bem vindo ao sistema de solicitações de materiais/servicos!</h3>
</div>
